




.login-background{
  background-image: url(./images/bgloginback.jpg);
  background-repeat: no-repeat;
  background-size:cover
}

@media (max-width:750px){
  .login-background{
    background-image: url(./images/loginback.jpeg);
    background-color: rgb(239, 239, 239);
  }
}

.App-link {
  color: #61dafb;
}


.dropdown-menu.show{
  width: 100%;
}




@media (min-width: 700px ) {
  .signup-container {
    width: 60%;
  }
  
}

.nav-link{
  color: rgb(28, 26, 26);
}


.navbar-brand{
  color: rgb(14, 13, 13);
}

.nav-header{

  background-color: rgba(30, 27, 27, 0.5);
}




.header-active-link{
  color:white;
}
.login-form {
  padding: 40px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(0,0,0,.4);
}
.login-form .form-control{
  background-color:transparent;
  color: white;
}

.custome-dropdown{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid rgb(201, 193, 193);

}


@media (max-width: 700px) {
  .signup-container {
    padding: 20px;
    margin-top: -4rem;
  }
    .login-form {
      padding: 20px;
      border: 2px solid black;
      border-radius: 5px;
    }
}
